<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Add or edit stops</h2>
            <p class="text-danger"><strong>This functionality is currently under development.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ui-gmap-google-map id="map"
                                center="vm.map.center"
                                pan="vm.map.pan"
                                zoom="vm.map.zoom"
                                control="vm.map.control">
                <ui-gmap-marker ng-repeat="stop in vm.stops" idKey="stop.id" coords="stop.position" options="{label: stop.userFriendlyName, title: stop.userFriendlyName, draggable: true}"></ui-gmap-marker>
                <!--
                <google-maps-context-menu>
                    <google-maps-context-item click="vm.addStop">Add Stop</google-maps-context-item>
                </google-maps-context-menu>
                -->
            </ui-gmap-google-map>
        </div>
    </div>
</div>
