<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Add or edit stops</h2>
            <p class="text-danger"><strong>This functionality is currently under development.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="number" step="any" ng-model="vm.stops[0].position.lat" />
            <input type="number" step="any" ng-model="vm.stops[0].position.lng" />

            <google-map gmap-element="map" container-id="map-container" center="vm.mapConfig.center" zoom="vm.mapConfig.zoom">
                <google-map-marker ng-repeat="stop in vm.stops" gmap-element="marker" gmap-target="map" position="stop.position" title="{{stop.title}}" draggable="true">
                    <google-map-context-menu gmap-target="marker" click-position="menuPosition">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default" ng-click="vm.removeStop(stop)">Remove stop</a>
                        </div>
                    </google-map-context-menu>
                </google-map-marker>
                <google-map-context-menu gmap-target="map" click-position="menuPosition">
                    <div class="btn-group-vertical" role="group">
                        <a class="btn btn-default" ng-click="vm.addStop(menuPosition)">Add stop</a>
                    </div>
                </google-map-context-menu>
            </google-map>
        </div>
    </div>
</div>
