<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Add or edit stops</h1>
            <p class="text-danger"><strong>This functionality is currently under development.</strong></p>
            <div>
                <button class="btn btn-primary" ng-disabled="!vm.isMapReady" ng-click="vm.addStopInCenter()">Add Stop</button>
                <button class="btn btn-success" ng-disabled="!vm.isDirty"><b>Save</b></button>
            </div>
        </div>
    </div>
    <div class="row top-7">
        <div class="col-md-12">
            <google-map gmap-element="map" container-id="map-container" center="vm.mapConfig.center" zoom="vm.mapConfig.zoom" gmap-map-click="vm.selectStop(null)">
                <google-map-marker ng-repeat="stop in vm.stops" 
                                   gmap-element="marker" 
                                   gmap-target="map" 
                                   position="stop.position" 
                                   title="{{stop.name}}" 
                                   draggable="true" 
                                   gmap-marker-mousedown="vm.selectStop(stop)" >
                    <google-map-context-menu gmap-target="marker" click-position="menuPosition">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default" ng-click="vm.removeStop(stop)">Remove stop</a>
                        </div>
                    </google-map-context-menu>
                </google-map-marker>
                <google-map-context-menu gmap-target="map" click-position="menuPosition">
                    <div class="btn-group-vertical" role="group">
                        <a class="btn btn-default" ng-click="vm.addStop(menuPosition)">Add stop</a>
                    </div>
                </google-map-context-menu>
            </google-map>
        </div>
    </div>
    <div class="row top-7" ng-show="vm.selectedStop != null">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="h2">Edit Stop</span>
                            <div class="pull-right">
                                <button class="btn btn-danger" ng-click="vm.removeStop(vm.selectedStop)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="edit-stop-latitude-input">Latitude</label>
                            <input id="edit-stop-latitude-input" class="form-control" type="number" step="0.001" ng-model="vm.selectedStop.position.lat" />
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="edit-stop-longitude-input">Longitude</label>
                            <input id="edit-stop-longitude-input" class="form-control" type="number" step="0.001" ng-model="vm.selectedStop.position.lng" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="edit-stop-title-input">Name</label>
                            <input id="edit-stop-title-input" class="form-control" type="text" ng-model="vm.selectedStop.name" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row top-7">
        <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-lg btn-success btn-block"><b>Save</b></button>
        </div>
    </div>-->
</div>
