<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Add or edit stops</h2>
            <p class="text-danger"><strong>This functionality is currently under development.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <google-map gmap-element="map" container-id="map-container" center="vm.mapConfig.center" zoom="vm.mapConfig.zoom">
                <google-map-marker ng-repeat="stop in vm.stops" 
                                   gmap-element="marker" 
                                   gmap-target="map" 
                                   position="stop.position" 
                                   title="{{stop.title}}" 
                                   draggable="true" 
                                   gmap-marker-mousedown="vm.selectStop(stop)" >
                    <google-map-context-menu gmap-target="marker" click-position="menuPosition">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default" ng-click="vm.removeStop(stop)">Remove stop</a>
                        </div>
                    </google-map-context-menu>
                </google-map-marker>
                <google-map-context-menu gmap-target="map" click-position="menuPosition">
                    <div class="btn-group-vertical" role="group">
                        <a class="btn btn-default" ng-click="vm.addStop(menuPosition)">Add stop</a>
                    </div>
                </google-map-context-menu>
            </google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <input class="form-control" type="number" step="any" ng-model="vm.selectedStop.position.lat" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="any" ng-model="vm.selectedStop.position.lng" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="vm.selectedStop.title" />
                </div>
            </form>
        </div>
    </div>
</div>
