<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Plan your trip!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="form-group">
                    <label for="TripFrom">From</label>
                    <input type="text" class="form-control" id="TripFrom" />
                </div>
                <div class="form-group">
                    <label for="TripTo">To</label>
                    <input type="text" class="form-control" id="TripTo" />
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <google-map gmap-element="map" container-id="map-container" center="vm.mapConfig.center" zoom="vm.mapConfig.zoom">
                <google-map-marker ng-repeat="stop in vm.stops" gmap-element="marker" gmap-target="map" position="stop.position" title="{{stop.name}}" draggable="false">
                </google-map-marker>
            </google-map>
        </div>
    </div>
</div>