<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Plan your trip!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="form-group">
                    <label for="TripFrom">From</label>
                    <input type="text" class="form-control" id="TripFrom" />
                </div>
                <div class="form-group">
                    <label for="TripTo">To</label>
                    <input type="text" class="form-control" id="TripTo" />
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <!--
            <google-map container-id="map-container" center="{lat: 15.0, lng: 45.0}" zoom="8">
                <google-map-marker ng-repeat="stop in vm.stops" position="stop.position" title="{{stop.title}}">
                    <google-map-context-menu class="btn-group-vertical" role="group" show-callback="vm.contextMenuShow">
                        <a class="btn btn-default" ng-click="vm.removeStop()">Remove stop</a>
                    </google-map-context-menu>
                </google-map-marker>
                <google-map-context-menu class="btn-group-vertical" role="group" show-callback="vm.contextMenuShow">
                    <a class="btn btn-default" ng-click="vm.addStop()">Add stop</a>
                </google-map-context-menu>
            </google-map>
            -->

            <!--
            <google-map gmapElement="mapElement"></google-map>
            <google-map-marker gmapElement="markerElement" target="mapElement"></google-map-marker>
            <google-map-context-menu target="markerElement"></google-map-context-menu>
            -->

            <!--
            <google-map gmapElement="mapElement">
                <google-map-marker ng-repeat="stop in vm.stops" position="stop.position" title="{{stop.title}}" gmapElement="markerElement">
                    <google-map-context-menu click-position="menuPosition" target="markerElement">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default" ng-click="vm.removeStop(stop)">Remove stop</a>
                        </div>
                    </google-map-context-menu>
                </google-map-marker>
                <google-map-context-menu click-position="menuPosition" target="mapElement">
                    <div class="btn-group-vertical" role="group">
                        <a class="btn btn-default" ng-click="vm.addStop(menuPosition)">Add stop</a>
                    </div>
                </google-map-context-menu>
            </google-map>
            -->

            <!--
            somecontrollervariable: {{vm.somecontrollervariable}}
            <google-map gmap-element="map" container-id="map-container" center="{lat: 15.0, lng: 45.0}" zoom="8">
                <google-map-marker gmap-element="marker" gmap-target="map" position="{lat: 15.0, lng: 45.0}" title="hello">

                </google-map-marker>
                
                <p>somecontrollervariable: {{vm.somecontrollervariable}}</p>

                <google-map-marker ng-repeat="stop in vm.stops" gmap-element="marker" gmap-target="map" position="stop.position" title="{{stop.title}}">
                    <google-map-context-menu gmap-target="marker" click-position="menuPosition">
                        <div class="btn-group-vertical" role="group">
                            <a class="btn btn-default" ng-click="vm.removeStop(stop)">Remove stop</a>
                        </div>
                    </google-map-context-menu>
                </google-map-marker>

                <google-map-context-menu gmap-target="map" click-position="menuPosition">
                    <div class="btn-group-vertical" role="group">
                        <a class="btn btn-default" ng-click="vm.addStop(menuPosition)">Add stop</a>
                    </div>
                </google-map-context-menu>
                
                {{vm.stops.length}}

                
                <google-map-marker ng-repeat="stop in vm.stops" gmap-element="marker" target="map" position="stop.position" title="{{stop.title}}">

                </google-map-marker>
                
            </google-map>
            -->

            <p>Parent scope id: {{$id}}</p>
            <google-map gmap-element="map" container-id="map-container" center="{lat: 15.0, lng: 45.0}" zoom="8">
                <p>Transcluded scope id: {{$id}}</p>
                <p>Access to vm: {{vm !== undefined}}</p>
                <p>vm.test: {{vm.test}}</p>
                <p>transcludedScopeVariable: {{transcludedScopeVariable}}</p>
            </google-map>
            <p>transcludedScopeVariable: {{transcludedScopeVariable}}</p>
        </div>
    </div>
</div>