<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Plan your trip!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="form-group">
                    <label for="TripFrom">From</label>
                    <input type="text" class="form-control" id="TripFrom" />
                </div>
                <div class="form-group">
                    <label for="TripTo">To</label>
                    <input type="text" class="form-control" id="TripTo" />
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <google-map container-id="map-container" center="{lat: 15.0, lng: 45.0}" zoom="8">
                <google-map-marker ng-repeat="stop in vm.stops" position="stop.position" title="{{stop.title}}">
                    <google-map-context-menu show-callback="vm.contextMenuShow">
                        <google-map-context-menu class="btn-group-vertical" role="group" show-callback="vm.contextMenuShow">
                            <a class="btn btn-default" ng-click="vm.removeStop()">Remove stop</a>
                        </google-map-context-menu>
                    </google-map-context-menu>
                </google-map-marker>

                <!--
                <google-map-marker position="{lat: 15.0, lng: 35.0}" title="Test marker">
                    <google-map-context-menu show-callback="vm.contextMenuShow">
                        <google-map-context-menu class="btn-group-vertical" role="group" show-callback="vm.contextMenuShow">
                            <a class="btn btn-default" ng-click="vm.removeStop()">Remove stop</a>
                        </google-map-context-menu>
                    </google-map-context-menu>
                </google-map-marker>
                -->
                <google-map-context-menu class="btn-group-vertical" role="group" show-callback="vm.contextMenuShow">
                    <a class="btn btn-default" ng-click="vm.addStop()">Add stop</a>
                </google-map-context-menu>
            </google-map>
        </div>
    </div>
</div>