body {

}

/* Heading styling */
h1 {
    font-size: 1.7em;
    font-weight: bolder;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

/* Element vertical spacing */
.top-7 {
    margin-top: 7px;
}

/* Form styling */
.form-width-auto {
    width: auto;
}